@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-gray-200;
	}

	body {
		@apply bg-white text-gray-900 cursor-default font-lora; /* Apply Lora font to body */
	}

	@keyframes circle {
		0% {
			/* Base value for mobile (below md) */
			transform: rotate(0deg) translateX(24px) rotate(0deg);
		}
		100% {
			/* Base value for mobile (below md) */
			transform: rotate(360deg) translateX(24px) rotate(-360deg);
		}
	}

	/* Base animation for mobile */
	.animate-circle {
		animation: circle 8s linear infinite;
	}

	/* Override translateX for desktop (md and above) */
	@media (min-width: 768px) {
		.animate-circle {
			animation-name: circle-desktop;
		}
	}

	@keyframes circle-desktop {
		0% {
			transform: rotate(0deg) translateX(46px) rotate(0deg);
		}
		100% {
			transform: rotate(360deg) translateX(46px) rotate(-360deg);
		}
	}
}
